[submodule "cmlang"]
	path = cmlang
	url = https://github.com/Model-Based-Design-Lab/cmlang.git
[submodule "cmlib"]
	path = cmlib
	url = https://github.com/Model-Based-Design-Lab/cmlib.git
[submodule "cmtrace"]
	path = cmtrace
	url = https://github.com/Model-Based-Design-Lab/cmtrace.git
