<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Computational Modeling Password Reset</title>
  </head>


  <body>
      <h1>Reset Password</h1>
      <p>Dear %name%,<br/>
        You have received this email, because a password reset has been requested for your account on the Computational Modeling Workbench web site.
      </p>
      <p>If you did not make this request, you do not need to respond. The password will not be changed.</p>
      <p>If you did request the password reset, you need to complete the process by going to the following link</p>
      <p>%link%</p>
  </body>
</html>